@inject ApplicationDbContext context

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row mb-3">
                <div class="col-md-8">
                    <h5>Saved announcements</h5>
                    @{
                        foreach(var item in context.VehicleUserFavourites){
                            if(Context.Session.GetInt32("UserId") == item.UserId){
                                <div class="card mb-3 mx-auto" style="max-width: 540px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            @{
                                                foreach(var ogg in context.VehicleImages){
                                                    if(ogg.VehicleId == item.VehicleId){
                                                        <img src="~/Images/@ogg.Path" class="img-fluid rounded-start" alt="">
                                                        break;
                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                @{
                                                    foreach(var ogg in context.Vehicles){
                                                        if(ogg.VehicleId == item.VehicleId){
                                                            <h5 class="card-title">@ogg.Title</h5>
                                                            <p class="card-text">@ogg.Description<br>@ogg.Price€</p>
                                                            <p class="card-text"><small class="text-muted">@ogg.RegistrationMonth/@ogg.RegistrationYear &nbsp; @ogg.Mileage km &nbsp; @ogg.Fuel &nbsp; @ogg.Transmission </small></p>
                                                            <a href="@Url.Action("AddFavourite", "User", new { id = ogg.VehicleId })" class="btn btn-warning btn-star">&#9733;</a>
                                                            break;
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
