@inject ApplicationDbContext context
@model int

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="card mb-3 mx-auto">
                        <div class="row mb-3">
                            <div class="col-md-8">
                                @{
                                    foreach(var item in context.Users){
                                        if(item.UserId == Model){ 
                                            <h6 style="margin: 10px 10px 0; font-weight: bold; font-size: 22px;">@item.Username</h6>
                                        }
                                    }
                                }
                            </div>
                            <div class="col-md-4">
                                @{
                                    foreach(var item in context.Users){
                                        if(item.UserId == Model){ 
                                            <div style="width: 50px; height: 50px; border-radius: 50%; background-color: #007bff; color: #fff; display: flex; justify-content: center; align-items: center; font-size: 24px;">
                                                @item.Username?.Substring(0, 1)
                                            </div> 
                                        }
                                    }
                                }
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;">
                                <div style="margin-left: 10px;">
                                    @{
                                        foreach(var item in context.Users){
                                            if(item.UserId == Model){ 
                                                <span>@item.Name @item.Surname</span>
                                            }
                                        }
                                    }
                                </div>
                                <div class="star-rating" style="margin-left: 10px;">
                                    @{
                                        double averageRating = 0;
                                        int fullStars = 0, totalStars = 5, review = 0;
                                        bool halfStar = false;
                                        foreach(var item in context.Users){
                                            if(item.UserId == Model){
                                                if(item.NumberStars > 0){
                                                    review = item.NumberStars;
                                                    averageRating = (double)item.Stars / item.NumberStars;
                                                    <span>@averageRating</span>
                                                    fullStars = (int)averageRating; 
                                                    halfStar = (averageRating - fullStars) < 1 && (averageRating - fullStars) != 0;
                                                }else{
                                                    <span>0,0</span>
                                                }
                                            }
                                        }
                                        for (int i = 0; i < totalStars; i++){
                                            if (i < fullStars){
                                                <i class="fas fa-star"></i>
                                            }
                                            else if (halfStar && i == fullStars){
                                                <i class="fas fa-star-half-alt"></i>
                                            }
                                            else{
                                                <i class="far fa-star"></i>
                                            }
                                        }
                                        <span>@review reviews</span>
                                    }
                                </div>
                                <div style="margin-left: 10px;">
                                    @{
                                        int count = 0;
                                        foreach(var item in context.Users){
                                            foreach(var ogg in context.VehicleListings){
                                                if(item.UserId == ogg.UserId){ count++; }
                                            }
                                        }
                                        <span>@count  Online announcements</span>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-8">
                    <h5>Online announcements</h5>
                    @{
                        foreach(var item in context.VehicleListings){
                            if(Model == item.UserId){
                                <div class="card mb-3 mx-auto" style="max-width: 540px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            @{
                                                var vehicleImage = context.VehicleImages.FirstOrDefault(img => img.VehicleId == item.VehicleId);
                                                if (vehicleImage != null) {
                                                    <img src="~/Images/@vehicleImage.Path" class="img-fluid rounded-start" alt="">
                                                }
                                            }
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                @{
                                                    var vehicle = context.Vehicles.FirstOrDefault(v => v.VehicleId == item.VehicleId);
                                                    if (vehicle != null) {
                                                        <h5 class="card-title">@vehicle.Title</h5>
                                                        <p class="card-text">@vehicle.Description<br>@vehicle.Price€</p>
                                                        <p class="card-text"><small class="text-muted">@vehicle.RegistrationMonth/@vehicle.RegistrationYear &nbsp; @vehicle.Mileage km &nbsp; @vehicle.Fuel &nbsp; @vehicle.Transmission </small></p>
                                                        <a href="@Url.Action("AddFavourite", "User", new { id = vehicle.VehicleId })" class="btn btn-warning btn-star">&#9733;</a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>