@inject ApplicationDbContext context;
@model List<VehicleListing>;

@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <h3>Vehicle announcements</h3>
</div>
@{
    var pageSize = 3; // Number of listings per page
    var totalListings = context.VehicleListings.Count();
    var totalPages = ViewBag.totalPages;
    int currentPage = ViewBag.Page != null ? (int)ViewBag.Page : 1;

    string brand = ViewBag.Brand;
    string model = ViewBag.Model;
    string fuel = ViewBag.Fuel;
    string emissions = ViewBag.Emissions;
    string location = ViewBag.Location;


    var listings = context.VehicleListings.Skip((currentPage - 1) * pageSize).Take(pageSize);
}


<div class="row">
    <div class="col-4">
    <h2>Filters</h2>
        <form id="filter-form" method="get" action="Search">
            <div class="form-group mb-3">
                <label for="brand">Brand:</label>
                <select class="form-control" id="brand" name="brand">
                    <option value="">Select Brand</option>
                    @foreach (var Brand in context.Vehicles.Select(v => v.Brand).Distinct()){
                        <option value="@Brand">@Brand</option>
                    }
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="model">Model:</label>
                <select class="form-control" id="model" name="model">
                    <option value="">Select Model</option>
                    @foreach (var Model in context.Vehicles.Select(v => v.Model).Distinct()){
                        <option value="@Model">@Model</option>
                    }
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="fuel">Fuel:</label>
                <select class="form-control" id="fuel" name="fuel">
                    <option value="">Select Fuel</option>
                    @foreach (var Fuel in context.Vehicles.Select(v => v.Fuel).Distinct()){
                        <option value="@Fuel">@Fuel</option>
                    }
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="emissions">Emissions:</label>
                <select class="form-control" id="emissions" name="emissions">
                    <option value="">Select Emissions</option>
                    @foreach (var Emissions in context.Vehicles.Select(v => v.Emissions).Distinct()){
                        <option value="@Emissions">@Emissions</option>
                    }
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="location">Location:</label>
                <select class="form-control" id="location" name="location">
                    <option value="">Select Location</option>
                    @foreach (var Location in context.Vehicles.Select(v => v.Location).Distinct()){
                        <option value="@Location">@Location</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Apply Filters</button>
        </form>
    </div>

    <div class="col-7">
        @{foreach(var item in Model){
            <a href="@Url.Action("AddFavourite", "User", new { id = item.VehicleId })" class="btn btn-warning btn-star float-end">&#9733;</a>
            <a asp-action="Announcement" asp-controller="Vehicle" class="text-decoration-none" asp-route-id="@item.VehicleId">
                <div class="card mb-3 mx-auto" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            @{
                                var vehicleImage = context.VehicleImages.FirstOrDefault(img => img.VehicleId == item.VehicleId);
                                if (vehicleImage != null) {
                                    <img src="~/Images/@vehicleImage.Path" class="img-fluid rounded-start h-100 object-fit-cover" alt="">
                                }
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                @{
                                    var vehicle = context.Vehicles.FirstOrDefault(v => v.VehicleId == item.VehicleId);
                                    if (vehicle != null) {
                                        <h5 class="card-title">@vehicle.Title</h5>
                                        <p class="card-text">@vehicle.Description<br>@vehicle.Price€</p>
                                        <p class="card-text"><small class="text-muted">@vehicle.RegistrationMonth/@vehicle.RegistrationYear &nbsp; @vehicle.Mileage km &nbsp; @vehicle.Fuel &nbsp; @vehicle.Transmission </small></p>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @for (int i = 1; i <= totalPages; i++){
                    <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Search", "Vehicle", new { page = i, type = ViewBag.Type })">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>